:root {
    --dynamic-background: hsl(259, 45.5%, 41.1%);
    --dynamic-background-transparent: hsla(259, 45.5%, 46.1%, 0.9);
    --dynamic-text: hsl(0, 0%, 100%);
    --list-background: #101204;
    --list-text: #B6C2CF;
    --list-hover-bg: #A6C5E229;
    --card-background: #22272B;
    --addList: #ffffff3d;
    --addListHover: #A6C5E229
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .cardContainer {
        @apply my-3 p-[10px] cursor-pointer text-listText text-[14px] rounded-xl bg-cardBackground
    }

    .columnTitle {
        @apply font-bold text-[18px] px-3 text-listText
    }

    .columnContainer {
        @apply w-[300px] p-3 mr-2 rounded-xl bg-listBackground
    }

    .container {
        @apply flex items-start flex-row p-2 w-full
    }
}