:root {
    --dynamic-background: hsl(259, 45.5%, 41.1%);
    --dynamic-background-transparent: hsla(259, 45.5%, 46.1%, 0.9);
    --dynamic-text: hsl(0, 0%, 100%);
    --list-background: #101204;
    --list-text: #B6C2CF;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .cardContainer {
        @apply my-4 p-[10px] cursor-pointer text-[14px] rounded-xl bg-[#22272B]
    }

    .columnTitle {
        @apply font-bold text-[18px] px-3
    }

    .columnContainer {
        @apply w-[300px] text-list_text p-3 mr-2 rounded-xl bg-list_background
    }

    .container {
        @apply flex justify-start flex-row p-2 w-full
    }
}